{% extends "base.html" %}

{% block title %}
Triggers
{% endblock title %}

{% block body %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-3">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-2" role="alert">
                        <strong>{% if category == 'success' %}Success!{% elif category == 'danger' %}Error!{% elif category == 'warning' %}Warning!{% else %}Note{% endif %}</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">TID</th>
        <th scope="col">PID</th>
        <th scope="col">EMAIL</th>
        <th scope="col">NAME</th>
        <th scope="col">ACTION</th>
        <th scope="col">TIMESTAMP</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{post.tid}}</th>
                <td>{{post.pid}}</td>
                <td>{{post.email}}</td>
                <td>{{post.name}}</td>
                <td>{{post.action}}</td>
                <td>{{post.timestamp}}</td>
            </tr>
        {% endfor %}     
    </tbody>
  </table>
{% endblock body %}