{% extends "base.html" %}

{% block title %}
Signup Page
{% endblock title %}

{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Signup Here</h4>
                </div>
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div><br>

                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div><br>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div><br>
                        
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Signup</button>
                    </form><br>
                    <h6>Already a user? <a href="/login">Login!</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
